@font-face {
  font-family: 'Hyperwave One';
  src: url('https://cdn.jsdelivr.net/gh/LiveSmart-Nutrition/hyperwave-font/hyperwave_one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
